<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Visitas" [options]="false">
      <div class="row">
        <form
          action="javascript:"
          class="was-validated"
          [formGroup]="visitsForm"
          (ngSubmit)="addVisits($event)"
        >
          <div class="row">
            <div class="col-md-12">
              <label for="notes" class="form-label">Notas</label>
              <textarea
                type="text"
                class="form-control is-invalid"
                required
                id="notes"
                placeholder="¿Qué tienes para escribir en esta sesión?"
                formControlName="notes"
              ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label for="visit_date" class="form-label">Fecha</label>
              <input
                type="date"
                class="form-control is-invalid"
                required
                id="visit_date"
                formControlName="visit_date"
              />
            </div>
            <div class="col-md-4">
              <label for="inputGroupSelect01" class="form-label"
                >Elegir psicólogo</label
              >
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01"
                    >Elige</label
                  >
                </div>
                <select
                  class="form-select"
                  id="inputGroupSelect02"
                  formControlName="psychologist_id"
                >
                  <option
                    *ngFor="let psycho of psychosData"
                    [value]="psycho.user_id"
                  >
                    {{ psycho.name }} {{ psycho.middlename }}
                    {{ psycho.first_lastname }}
                    {{ psycho.second_lastname }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <label for="inputGroupSelect01" class="form-label"
                >Elegir pasiente</label
              >
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01"
                    >Elige</label
                  >
                </div>
                <select
                  class="form-select"
                  id="inputGroupSelect02"
                  formControlName="patient_id"
                >
                  <option
                    *ngFor="let patient of patientsData"
                    [value]="patient.user_id"
                  >
                    {{ patient.name }} {{ patient.middlename }}
                    {{ patient.first_lastname }}
                    {{ patient.second_lastname }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-3">
            <button class="btn btn-primary shadow" type="submit">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </app-card>
  </div>

  <div class="col-md-12">
    <app-card cardTitle="Lista de visitas" [options]="false">
      <div class="table-responsive">
        <a (click)="getVisits()"><i class="fa-solid fa-rotate-right"></i></a>
        <table class="table display" id="yourTableId">
          <thead>
            <tr>
              <th scope="col">Notas</th>
              <th scope="col">Fecha</th>
              <th scope="col">Psicólogo</th>
              <th scope="col">Pasiente</th>
              <th>Acciones</th>
              <!-- <th scope="col">Actions</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let visit of visitsData">
              <td>{{ visit?.notes }}</td>
              <td>{{ visit?.visit_date }}</td>
              <td>{{ visit?.psychologist_id }}</td>
              <td>{{ visit?.patient_id }}</td>
              <td>
                <div class="row">
                  <div class="col-md-6">
                    <a
                      (click)="showDialog(visit)"
                      class="btn btn-primary"
                      style="max-width: 40px; margin: 0 auto"
                    >
                      <i
                        class="fa-solid fa-pen-to-square"
                        style="color: #ffffff; margin: 0 auto"
                      ></i>
                    </a>
                    <p-dialog
                      header="Actualizar el usuario {{ selectedVisit.name }} {{
                        selectedVisit.first_lastname
                      }}"
                      [(visible)]="visible"
                      [modal]="true"
                      [style]="{ width: '70vw', height: '100vw' }"
                      [draggable]="false"
                      [resizable]="false"
                    >
                      <div class="row">
                        <form
                          action="javascript:"
                          class="was-validated"
                          [formGroup]="updateFormGroup"
                          (ngSubmit)="updateVisit()"
                        >
                          <div class="row">
                            <div class="col-md-12">
                              <label for="notes" class="form-label"
                                >Notas</label
                              >
                              <textarea
                                type="text"
                                class="form-control is-invalid"
                                required
                                id="notes"
                                placeholder="¿Qué tienes para escribir en esta sesión?"
                                formControlName="notes"
                              ></textarea>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <label for="visit_date" class="form-label"
                                >Fecha</label
                              >
                              <input
                                type="date"
                                class="form-control is-invalid"
                                required
                                id="visit_date"
                                formControlName="visit_date"
                              />
                            </div>
                            <div class="col-md-4">
                              <label for="inputGroupSelect01" class="form-label"
                                >Elegir psicólogo</label
                              >
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <label
                                    class="input-group-text"
                                    for="inputGroupSelect01"
                                    >Elige</label
                                  >
                                </div>
                                <select
                                  class="form-select"
                                  id="inputGroupSelect02"
                                  formControlName="psychologist_id"
                                >
                                  <option
                                    *ngFor="let psycho of psychosData"
                                    [value]="psycho.user_id"
                                  >
                                    {{ psycho.name }} {{ psycho.middlename }}
                                    {{ psycho.first_lastname }}
                                    {{ psycho.second_lastname }}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="col-md-4">
                              <label for="inputGroupSelect01" class="form-label"
                                >Elegir pasiente</label
                              >
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <label
                                    class="input-group-text"
                                    for="inputGroupSelect01"
                                    >Elige</label
                                  >
                                </div>
                                <select
                                  class="form-select"
                                  id="inputGroupSelect02"
                                  formControlName="patient_id"
                                >
                                  <option
                                    *ngFor="let patient of patientsData"
                                    [value]="patient.user_id"
                                  >
                                    {{ patient.name }} {{ patient.middlename }}
                                    {{ patient.first_lastname }}
                                    {{ patient.second_lastname }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-12 mt-3">
                            <button
                              class="btn btn-primary shadow"
                              type="submit"
                            >
                              Guardar
                            </button>
                          </div>
                        </form>
                      </div>
                    </p-dialog>
                  </div>
                  <div class="col-md-6">
                    <a class="btn btn-danger" style="max-width: 40px">
                      <i
                        class="fa-solid fa-trash"
                        style="color: #ffffff"
                        (click)="deleteVisit(visit)"
                      ></i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
